.login {
    display: flex;
    margin: 0 auto;
    width: 50%;
    justify-content: stretch;
    flex-direction: column;
    align-items: stretch;
}
.civ-info {
    display: flex;

}
.civ-portrait {
    width: 150px;
    height: auto;
    margin-right: 20px;
}
.civ-info-p {
    flex-grow: 1;
    flex-basis: 300px;
}